<div class="page-title">
	<h1>Добавить новое сообщество</h1>
</div>
<div class="lk-window" id="step1">
	<div class="lk-window-header lk-window-header-add">
		<span>Шаг 1 <span>Добавление сообщества</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<section class="success-block" data-id="1">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Сообщество выбрано.</span>
			</section>
			<section class="error-block" data-id="1">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-1">
				<tr>
					<td>Введите ссылку на Ваше сообщество</td>
					<td><input name="choice-community" type="text"></td>
				</tr>
			</table>
		</section>
		<button class="btn add-next-btn" data-id="1">
			<div class="btn-left">
				<img class="btn-bg" src="../images/button-left.png" alt="">
				<img src="../images/btn-arrow.png" alt="" class="btn-icon">
			</div>
			<span>Далее</span>
			<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
			<div class="btn-right">
				<img class="btn-bg" src="../images/button-right.png" alt="">
			</div>
		</button>
	</div>
</div>
<div class="lk-window" id="step2">
	<div class="lk-window-header lk-window-header-add">
		<span>Шаг 2 <span>Выберите режим монетизации</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<section class="success-block" data-id="2">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Сообщество выбрано.</span>
			</section>
			<section class="error-block" data-id="2">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-2">
				<tr>
					<td>
						<div class="wrap-check-step-2">
							<div class="add-squere" data-choice="1"><div></div></div>
						</div>
						<img src="../images/step-down.png" alt="">
						<span>Ручная настройка</span>
						<p>Вы сами себе выбираете офферы, количество рекламы, время размещения, а наш сервис поставит это на автопилот</p>
					</td>
					<td>
						<div class="wrap-check-step-2">
							<div class="add-squere" data-choice="2"><div></div></div>
						</div>
						<img src="../images/step-up.png" alt="">
						<span>Max-profit настройка от ордынца</span>
						<p>За 6 лет работы в соц. сетях нам удалось выработать схемы максимальной монетизации, которые позволяют делать сверх доходы с сообществ, при этом без ущерба для статистики сообщества.</p>
						<i>Доверьте монетизацию профессионалам!</i>
					</td>
				</tr>
			</table>
			<button class="btn add-next-btn" data-id="2">
				<div class="btn-left">
					<img class="btn-bg" src="../images/button-left.png" alt="">
					<img src="../images/btn-arrow.png" alt="" class="btn-icon">
				</div>
				<span>Далее</span>
				<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
				<div class="btn-right">
					<img class="btn-bg" src="../images/button-right.png" alt="">
				</div>
			</button>
		</section>
	</div>
</div>
<div class="lk-window" id="step3">
	<div class="lk-window-header lk-window-header-add">
		<span>Шаг 3 <span>График выхода рекламы</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<section class="success-block" data-id="7">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Реклама успешно добавлена.</span>
			</section>
			<section class="error-block" data-id="7">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-3-second">
				<tr style="background:#f1f1f1;">
					<td>Название поста</td>
					<td>Время(часы:мин)</td>
					<td>Размещать на срок</td>
					<td>Примечание</td>
					<td></td>
				</tr>
				<tr>
					<td><input name="post-name" type="text"></td>
					<td><input name="post-time-hours" type="text" value="00"> : <input name="post-time-minits" type="text" value="00"></td>
					<td>
						<select name="post-continue">
							<option value="null">Всегда</option>
							<option value="1">1 час</option>
							<option value="2">2 часа</option>
							<option value="3">3 часа</option>
							<option value="4">4 часа</option>
							<option value="5">5 часов</option>
							<option value="6">6 часов</option>
							<option value="7">7 часов</option>
							<option value="8">8 часов</option>
							<option value="9">9 часов</option>
							<option value="10">10 часов</option>
							<option value="11">11 часов</option>
							<option value="12">12 часов</option>
							<option value="13">13 часов</option>
							<option value="14">14 часов</option>
							<option value="15">15 часов</option>
							<option value="16">16 часов</option>
							<option value="17">17 часов</option>
							<option value="18">18 часов</option>
							<option value="19">19 часов</option>
							<option value="20">20 часов</option>
							<option value="21">21 час</option>
							<option value="22">22 часа</option>
							<option value="23">23 часа</option>
							<option value="24">24 часа</option>
						</select>
					</td>
					<td><input name="post-note" type="text"></td>
					<td>
						<button class="btn post-save-new-pole" data-id="7">
							<div class="btn-left">
								<img class="btn-bg" src="../images/button-left.png" alt="">
								<img src="../images/btn-arrow.png" alt="" class="btn-icon">
							</div>
							<span>Сохранить</span>
							<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
							<div class="btn-right">
								<img class="btn-bg" src="../images/button-right.png" alt="">
							</div>
						</button>
					</td>
				</tr>
			</table>
			<button class="btn" id="post-new-pole">
				<div class="btn-left">
					<img class="btn-bg" src="../images/button-left.png" alt="">
					<img src="../images/btn-arrow.png" alt="" class="btn-icon">
				</div>
				<span>Добавить</span>
				<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
				<div class="btn-right">
					<img class="btn-bg" src="../images/button-right.png" alt="">
				</div>
			</button>
		</section>
		<button class="btn add-next-btn" data-id="3">
			<div class="btn-left">
				<img class="btn-bg" src="../images/button-left.png" alt="">
				<img src="../images/btn-arrow.png" alt="" class="btn-icon">
			</div>
			<span>Далее</span>
			<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
			<div class="btn-right">
				<img class="btn-bg" src="../images/button-right.png" alt="">
			</div>
		</button>
	</div>
</div>
<div class="lk-window" id="step4">
	<div class="lk-window-header lk-window-header-add">
		<span>Шаг 4 <span>Выбор офферов</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section clearfix">
			<section class="success-block" data-id="4">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Офферы выбраны.</span>
			</section>
			<section class="error-block" data-id="4">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-4-first">
				<tr>
					<td data-offers-search="q[name][like]">
						Название:
						<input class="offers-name" type="text">
					</td>
					<td data-offers-search="q[price][between]">
						Ставка: <input name="from" type="text" placeholder="0"> - <input name="to" type="text" placeholder="100">
					</td>
					<td data-offers-search="q[epc][between]">
						EPC: <input name="from" type="text" placeholder="0"> - <input name="to" type="text" placeholder="100">
					</td>
					<td data-offers-search="q[cr][between]">
						CR: <input name="from" type="text" placeholder="0"> - <input name="to" type="text" placeholder="100">
					</td>
					<td data-offers-search="per-page" style="width:150px;">
						Выводить по:
						<input name="offer-number" type="number">
					</td>
					<td>
						<button class="btn" id="offer-search-btn">
							<div class="btn-left">
								<img class="btn-bg" src="../images/button-left.png" alt="">
								<img src="../images/btn-arrow.png" alt="" class="btn-icon">
							</div>
							<span>Применить</span>
							<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
							<div class="btn-right">
								<img class="btn-bg" src="../images/button-right.png" alt="">
							</div>
						</button>
					</td>
				</tr>
			</table>
			<table class="table-step-4-second">
				<thead>
					<tr style="">
						<td>Лого</td>
						<td>Оффер</td>
						<td>Категория</td>
						<td>Ставка</td>
						<td>EPC</td>
						<td>CR</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<table class="table-step-4-third">
				<thead>
					<tr>
						<td>Категории</td>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			<div class="wrap-pagination">
				<ul id="pagination"></ul>
			</div>
		</section>
		<button class="btn add-next-btn" data-id="4">
			<div class="btn-left">
				<img class="btn-bg" src="../images/button-left.png" alt="">
				<img src="../images/btn-arrow.png" alt="" class="btn-icon">
			</div>
			<span>Далее</span>
			<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
			<div class="btn-right">
				<img class="btn-bg" src="../images/button-right.png" alt="">
			</div>
		</button>
	</div>
</div>
<div class="lk-window" id="step5">
	<div class="lk-window-header lk-window-header-add">
		<span><i id="step-number">Шаг 5</i> <span>Добавление аккаунта-постера</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<h3>Выбор модератора</h3>
			<hr />
			<p class="add-top-p">Текст текст текст</p>
			<section class="success-block" data-id="5">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Модератор добавлен.</span>
			</section>
			<section class="error-block" data-id="5">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<section class="success-block" data-id="6">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Модератор добавлен.</span>
			</section>
			<section class="error-block" data-id="6">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-5">
				<tbody>
				</tbody>
			</table>
			<button class="btn add-system-posters">
					<div class="btn-left">
						<img class="btn-bg" src="../images/button-left.png" alt="">
						<img src="../images/btn-arrow.png" alt="" class="btn-icon">
					</div>
					<span>Назначить модераторов из системы</span>
					<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
					<div class="btn-right">
						<img class="btn-bg" src="../images/button-right.png" alt="">
					</div>
				</button>
			<h3>Создание своего модератора</h3>
			<hr />
			<div class="add-aministrator">
				<input type="text" id="posters-login" placeholder="Логин">
				<input type="text" id="posters-password" style="margin-left: 19px;" placeholder="Пароль">
				<input type="hidden" name="" id="social-networks">
				<button class="btn btn-add-adm" data-id="5">
					<div class="btn-left">
						<img class="btn-bg" src="../images/button-left.png" alt="">
						<img src="../images/btn-arrow.png" alt="" class="btn-icon">
					</div>
					<span>Добавить</span>
					<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
					<div class="btn-right">
						<img class="btn-bg" src="../images/button-right.png" alt="">
					</div>
				</button>
			</div>
			<p class="add-bottom-p">*Текст текст</p>
			<button class="btn btn-save-adm" data-id="6">
				<div class="btn-left">
					<img class="btn-bg" src="../images/button-left.png" alt="">
					<img src="../images/btn-arrow.png" alt="" class="btn-icon">
				</div>
				<span>Завершить</span>
				<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
				<div class="btn-right">
					<img class="btn-bg" src="../images/button-right.png" alt="">
				</div>
			</button>
		</section>
	</div>
</div>
<script src="js/add.js"></script>
