<div class="lk-window">
	<div class="lk-window-header lk-window-header-add">
		<span><i id="step-number">Шаг 5</i> <span>Добавление аккаунта-постера</span></span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<h3>Выбор модератора</h3>
			<hr />
			<p class="add-top-p">Текст текст текст</p>
			<section class="success-block" data-id="5">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Модератор добавлен.</span>
			</section>
			<section class="error-block" data-id="5">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<section class="success-block" data-id="6">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Успешно!</strong> <span>Модератор добавлен.</span>
			</section>
			<section class="error-block" data-id="6">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<table class="table-step-5">
				<tbody>
				</tbody>
			</table>
			<button class="btn add-system-posters" style="float: right;">
				<div class="btn-left">
					<img class="btn-bg" src="../images/button-left.png" alt="">
					<img src="../images/btn-arrow.png" alt="" class="btn-icon">
				</div>
				<span>Назначить модераторов из системы</span>
				<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
				<div class="btn-right">
					<img class="btn-bg" src="../images/button-right.png" alt="">
				</div>
			</button>
			<div style="height: 20px;" class="clearfix"></div>
			<h3>Создание своего модератора</h3>
			<hr />
			<div class="add-aministrator">
				<input type="text" id="posters-login" placeholder="Логин">
				<input type="text" id="posters-password" style="margin-left: 19px;" placeholder="Пароль">
				<input type="hidden" name="" id="social-networks">
				<button class="btn btn-add-adm" data-id="5">
					<div class="btn-left">
						<img class="btn-bg" src="../images/button-left.png" alt="">
						<img src="../images/btn-arrow.png" alt="" class="btn-icon">
					</div>
					<span>Добавить</span>
					<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
					<div class="btn-right">
						<img class="btn-bg" src="../images/button-right.png" alt="">
					</div>
				</button>
			</div>
			<p class="add-bottom-p">*Текст текст</p>
		</section>
		<button class="btn btn-save-adm" data-id="6">
			<div class="btn-left">
				<img class="btn-bg" src="../images/button-left.png" alt="">
				<img src="../images/btn-arrow.png" alt="" class="btn-icon">
			</div>
			<span>Завершить</span>
			<img class="btn-preloader-img" src="../images/loader.gif" alt="" style="display: none;">
			<div class="btn-right">
				<img class="btn-bg" src="../images/button-right.png" alt="">
			</div>
		</button>
	</div>
</div>
<script src="js/posters.js"></script>