<div class="page-title">
	<table>
		<tr>
			<td>
				<a class="btn" href="/add.html">
					<div class="btn-left">
						<img class="btn-bg" src="../images/button-left.png" alt="">
						<img src="../images/hammer.png" alt="" class="btn-icon">
					</div>
					<span>Добавить&nbsp;сообщество</span>
					<div class="btn-right">
						<img class="btn-bg" src="../images/button-right.png" alt="">
					</div>
				</a>
			</td>
		</tr>
	</table>
	<span><img src="../images/dott.png" alt=""><span>--:--</span> забронированное время</span>
</div>
<div id="soob-page"></div>
<script src="../js/soob.js"></script>
