<div class="page-title">
	<h1>Личный кабинет</h1>
</div>
<div class="lk-window">
	<div class="lk-window-header">
		<span>ТИКЕТ</span>
	</div>
	<div class="lk-window-body">
		<section class="lk-window-section">
			<h3 id="ticket-name"></h3>
			<hr />
			<section class="success-block" data-id="4">
				<button type="button" class="close" data-dismiss="alert">×</button>
  				<strong>Успешно!</strong> <span>Сообщение отправлено.</span>
			</section>
			<section class="error-block" data-id="4">
				<button type="button" class="close" data-dismiss="alert">×</button>
  				<strong>Ошибка!</strong> <span>Ошибка!</span>
			</section>
			<div class="description">
				<i>Агент поддержки ответит вам<br /> в течении 24 часов с момента отправки<br /> вами сообщения!</i>
			</div>
			<table class="for-forms for-forms-tickets">
				<tr>
					<td colspan="2">Текст сообщения</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"><textarea id="message" cols="30" rows="10"></textarea></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">
						<button id="send_ticket_message" class="btn" data-id="4">
							<div class="btn-left">
								<img class="btn-bg" src="../images/button-left.png" alt="">
								<img src="../images/hammer.png" alt="" class="btn-icon">
							</div>
							<span>Отправить</span>
							<img class="btn-preloader-img" src="../images/loader.gif" alt="">
							<div class="btn-right">
								<img class="btn-bg" src="../images/button-right.png" alt="">
							</div>
						</button>
					</td>
					<td></td>
				</tr>
			</table>
			<h3>Ответы</h3>
			<div id="ticket-messages" ></div>
			<div class="wrap-pagination">
				<ul id="pagination"></ul>
			</div>
		</section>
	</div>
</div>
<script src="../js/tickets-cart.js"></script>